img{
    max-width: 600px;
    text-align: center;
}
p img{
    display: block;
    margin: 0 auto;
}

p{
    font-size: 1.2em;
}
.content{
    max-width: 720px;
}
@media screen and (max-width:720px) {
    img{
        max-width: 350px;
    }

}